main {
    align-items: center;

    padding: 5rem;
    padding: 3rem;
}

.outer-cotnainer {

}

.inner-container {
    border-radius: 0.5rem;

    background-color: var(--bg);
    box-shadow: var(--shadow);

    padding: 3rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}



/* main>* {
    border-radius: 0.5rem;

    background-color: var(--bg);
    box-shadow: var(--shadow);

    padding: 3rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

} */

canvas {
    background-color: white;
    border: solid 1px lightgray;
    user-select: none;

    border-radius: 0.5rem;

    width: 100%;

}


.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;

    /* border: solid 2px green; */
}

th {
    border: solid 1px gray;
    background-color: white;
    text-align: left;
    padding: 0rem 0rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}