footer {
    padding: 1rem 5%;

    background-color: var(--bg);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    gap: 1rem;

    justify-content: center;

    height: 5rem;
}


footer p {
    font-size: 0.75rem;
    color: rgb(68, 68, 68);
}