
header {
    position: sticky;
    top: 0;
    
    /* padding: 1rem 5%; */
    

    background-color: var(--bg);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    gap: 5vw;

    min-height: 5rem;
}

header div {
    flex-grow: 1;
    /* border: solid 3px red; */
    padding: 0 3vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}


nav ul {
    list-style: none;

    margin: 0;
    padding: 0;

}

nav li {
    display: flex;
}

nav a {
    color: rgb(47, 47, 197);
}