@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --main-width: 60rem;

    --bg: rgb(232, 238, 244);
    --shadow: rgba(185, 185, 185, 1) 0px 0px 7px 0px;

    --padding: 1rem;
    --border-radius: 0.25rem;
    --gap: 2rem;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --border: solid 1px rgb(218, 218, 218);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    min-height: 100%;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    margin: 0;

    display: flex;
    flex-direction: column;

}

body>* {
    padding: 0 max(4%, (100% - var(--main-width)) / 2);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.outer-container {
    background-color: rgb(247, 247, 247);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    padding: 3vw;

}


.inner-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    align-items: center;
}


canvas {
    user-select: none;
    max-width: 100%;
    background-color: white;

    /* --border-color: orange;
    --border-width: 1px;
    background:
    linear-gradient(to right, var(--border-color) var(--border-width), transparent var(--border-width)) 0 0,
    linear-gradient(to right, var(--border-color) var(--border-width), transparent var(--border-width)) 0 100%,
    linear-gradient(to left, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 0,
    linear-gradient(to left, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 100%,
    linear-gradient(to bottom, var(--border-color) var(--border-width), transparent var(--border-width)) 0 0,
    linear-gradient(to bottom, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 0,
    linear-gradient(to top, var(--border-color) var(--border-width), transparent var(--border-width)) 0 100%,
    linear-gradient(to top, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 100%;
    
    background-repeat: no-repeat;
    background-size: 5px 5px;
    background-color: white; */

}


.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

th {
    text-align: left;
    padding: 0.35rem;
}


video {
    width: 100%;
}

.fit-img>img {
    width: 100%;
}

.vertical-spacer {
    height: 4rem;
}

.indent-block {
    padding-left: 2vw;
}

pre {
    margin: 0;
    font-size: 1rem;
    line-height: 1.185;
    font-family: "Roboto", sans-serif;

    /* preserve whitespace but allow wrapping */
    white-space: pre-wrap;

    /* break long words */
    word-break: break-word;
    
    /* modern, better breaking */
    overflow-wrap: anywhere;
}