---
layout: layouts/base.njk
title: Game prototype
local_css:
js_defer:
  - /libraries/vector2d.js
  - /libraries/astar.js
  - map.js
  - goto.js
  - player.js
  - script.js
---

<div class="outer-container">
    <div>
        <h1>Path following</h1>
        <p>A path following system developed with game ideas in mind.</p>
        <hr>
    </div>
    <div class="inner-container">

        <canvas id="canvas" width="400" height="400"></canvas>

        <table>
            <tr>
                <th>
                    <label for="mode">Mode</label>
                </th>
                <th>
                    <select id="mode">
                        <option value="target">target</option>
                        <option value="place_block">place block</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="heuristics">Heuristics</label>
                </th>
                <th>
                    <select id="heuristics">
                        <option value="manhattan">Manhattan</option>
                        <option value="chebyshev">Chebyshev</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="neighbors">Neighbors</label>
                </th>
                <th>
                    <select id="neighbors">
                        <option value="4">4 neighbors</option>
                        <option value="8A">8 neighbors A</option>
                        <option value="8B">8 neighbors B</option>
                        <option value="8C">8 neighbors C</option>
                    </select>
                </th>
            </tr>

            <tr>
                <th>
                    shift
                </th>
                <th>
                    queue commands
                </th>
            </tr>
        </table>

    </div>

    <div>
        <hr>
    </div>

</div>