h1 {
    color: red;
}

canvas {
    border: solid 1px black;
    user-select: none;
}

table {
    text-align: left;
    
}

th {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding: 0.5rem;
}

td {
    border-right: solid 1px black;
    padding: 0.5rem;
}