---
layout: layouts/base.njk
title: Perfume commercial
css:
- /css/style.css
- /css/cs.css
---

<div class="outer-container">
    <div>
        <h1>BA1 project</h1>
        <p>Autonomous car using camera, IR sensors, arduino and raspberry pi to navigate a circuit (engineering school, 1st year project).</p>
        <hr>
    </div>
    <div class="inner-container">
        <video controls><source src="assets/ba1_ns.webm" type="video/webm">Your browser does not support the video tag.</video>
    </div>

    <div>
        <hr>
    </div>
</div>