---
layout: layouts/base.njk
title: Portfolio
css:
  - /css/style.css

---

<div class="outer-container">
    <div class="main-container">
        <div class="about">
            <h1>About</h1>
            <p>Welcome to my portfolio! This site is built using HTML, CSS, and JavaScript, and it highlights some of the projects I've created over the years. Feel free to explore and enjoy discovering my work.</p>
            <hr>
        </div>

        <br>

        <h2>Html, css, js projects</h2>
        <div class="indent-block">
            <pre><a href="projects/cs/rigid_body_engine/index.html">Rigid body engine</a></pre>
            <pre>   │└> <a href="projects/cs/car_simulation/index.html">Car simulation</a></pre>
            <pre>   ├─> <a href="projects/cs/pid2/index.html">Moon lander</a></pre>
            <pre><a href="projects/cs/pid/index.html">PID controller</a></pre>
            <br>
            <pre><a href="projects/cs/djikstra/index.html">Djikstra algorithm</a></pre>
            <pre><a href="projects/cs/astar/index.html">A* algorithm</a></pre>
            <pre>   └> <a href="projects/cs/game/index.html">Game prototype</a></pre>
            <br>
            <pre><a href="projects/cs/collision_detection_resolution/index.html">Collision detection & resolution</a></pre>
            <pre>   └> <a href="projects/cs/billard/index.html">French billard</a></pre>
            <br>
            <pre><a href="projects/cs/3d_engine/index.html">3D JS engine</a></pre>
            <br>
            <pre><a href="projects/cs/flood_fill_algorithm/index.html">Flood fill algorithm</a></pre>
            <br>
            <pre><a href="projects/cs/differential_equations/index.html">Differential equations approximation</a></pre>

        </div>

        <h2>Blender projects (3D rendering)</h2>
        <div class="indent-block">
            <pre><a href="projects/blender/showcase/index.html">Blender projects showcase</a></pre>
        </div>

        <h2>C++ Game prototype</h2>
        <div class="indent-block">
            <pre><a href="projects/cpp/cpp_game/index.html">C++ Game prototype</a></pre>
        </div>
        
        <h2>Electromecanical projects</h2>
        <div class="indent-block">
            <pre><a href="projects/electromec/ba1/index.html">Year 1 engineering project</a></pre>
            <pre><a href="projects/electromec/ba2/index.html">Year 2 engineering project</a></pre>
        </div>
        
        
    </div>
</div>