* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

}

header {
    padding: 1rem;
    background-color: lightblue;
}

main {
    display: flex;
    justify-content: center;
    /* border: solid 2px red; */
    padding: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    align-items: center;

    /* border: solid 2px green; */
}

th {
    border: solid 1px gray;
    text-align: left;
    padding: 0rem 1rem;
}