---
layout: layouts/base.njk
title: French billiard
local_css:
js_defer:
  - /libraries/vector2d.js
  - queue.js
  - ball.js
  - script.js
---

<div class="outer-container">
  <div>
    <h1>Billard Français</h1>
    <p>French billard game written in JS based on a basic particle physics engine.</p>
    <hr>
  </div>
  <div class="inner-container">
      <canvas id="canvas" width="1200" height="600"></canvas>
      <input type="range" min="1" max="30" value="15" class="slider" id="power">
    <div class="billard">
    </div>
  </div>
  <div>
    <hr>
  </div>
</div>