---
layout: layouts/base.njk
title: Moon lander
local_css:
js_defer:
  - /libraries/pid.js
  - /libraries/vector3d.js
  - /libraries/rigidBody2.js
  - script.js
---

<div class="outer-container">
    <div>
        <h1>Rigid body + PID</h1>
        <p>
            This project uses a combination of the rigid body engine and 3 PID controllers to control a moon lander with 2 boosters.
            <br>
            A <a href="assets/document.pdf">simplified PID controller</a> compared to <a href="/projects/cs/pid/index.html">this project</a> was used in this case, inspired by the following
                <a href="https://github.com/fire/godot-pid/blob/master/PID_Controller/PID_Controller.gd">implementation</a>.
        </p>
        <hr>
    </div>
    <div class="inner-container">
        <canvas id="myCanvas" width="800" height="600"></canvas>
        <table>
            <tr>
                <th>LMB</th>
                <th>set target</th>
            </tr>
            <tr>
                <th>r</th>
                <th>reset</th>
            </tr>
            <tr>
                <th>t</th>
                <th>change vessel</th>
            </tr>
        </table>
    </div>

    <div>
        <hr>
    </div>

</div>