---
layout: layouts/base.njk
title: Collison resolution
local_css:
js_defer:
  - /libraries/vector2d.js
  - player.js
  - script.js
---

<div class="outer-container">
  <div>
    <h1>Collision detection & resolution</h1>
    <p>Algorithms for collision detection and resolution that could be used in game development.</p>
    <hr>
  </div>
  <div class="inner-container">
    <canvas id="canvas" width="600" height="525"></canvas>
    <table>
      <tr>
        <th>z, q, s, d</th>
        <th>move</th>
      </tr>
    </table>
  </div>
  <div>
    <hr>
  </div>
</div>