<header>
    <div>
        <h1>Nathan VB</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
            </ul>
        </nav>
    </div>
</header>