---
layout: layouts/base.njk
title: Perfume commercial
css:
- /css/style.css
- /css/cs.css
---

<div class="outer-container">
    <div>
        <h1>BA2 project</h1>
        <p>
            3D printed Autonomous car using arduino and motors to navigate circuit.
            <br>
            Picks up and stores objects on the way to deliver them at target (engineering school, 2nd year project).
        </p>
        <hr>
    </div>
    <div class="inner-container">
            <video style="max-width: 20rem;" controls><source src="assets/ba2_ns.webm" type="video/webm">Your browser does not support the video tag.</video>
    </div>
    <div>
        <hr>
    </div>
</div>