---
layout: layouts/base.njk
title: Differential equations
css:
  - ./style.css
local_css:
js_defer:
  - script.js
---

<div class="outer-container">
  <div>
    <h1>Differential equations</h1>
    <p>
      Use of the explicit Euler method as show in <a href="https://www.youtube.com/watch?v=p_di4Zn4wz4">this video</a> to approximate differential equations.
      <br>
      The algorithm to approximate the ODE can be seen <a href="assets/diff_eq.pdf">here</a>
    </p>
    <hr>
  </div>
  <div class="inner-container">
    <img src="equation.svg" alt="equation"/>
    <div class="buttons">
      <span>L <input type="number" id="L" name="L" min="0" max="5" step="0.1" onchange="recompute()"></span>
      <span>μ <input type="number" id="mu" name="mu" min="0" max="5" step="0.1" onchange="recompute()"></span>
      <button onclick="toggle_pause()">start / pause</button>
      <button onclick="restart()">restart</button>
    </div>
    <br>
    <canvas id="pendulum" width="600" height="300"></canvas>
    <br>
    <canvas id="graph" width="600" height="300"></canvas>
  </div>

  <div>
    <hr>
  </div>

</div>