---
layout: layouts/base.njk
title: PID controller
local_css:
js_defer:
  - script.js
---

<div class="outer-container">
    <div>
        <h1>PID controller</h1>
        <p>
            Use of a PID algorithm to control the water temperature in a simulated water tank with a simple heating element.
            <br>
            You can choose between the PID controller and a more basic controller to understand the need for the PID algorithm and its superiority in controlling water temperature.
            <br>
            Project inspired by the following <a href="https://www.youtube.com/watch?v=zOByx3Izf5U">video</a>.
            <br>
            <a href="assets/document.pdf">PDF</a> showing the math behind the PID controller.</p>
    </p>
    <hr>
</div>
<div class="inner-container">
    <canvas id="canvas" width="1000" height="600"></canvas>
    <table>
        <tr>
            <th>mode</th>
            <th>
                <select name="mode" id="mode">
                    <option value="off">Off</option>
                    <option value="basic">Basic</option>
                    <option value="pid">PID</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>heater mode</th>
            <th>
                <select name="heater_mode" id="heater_mode">
                    <option value="gradual">gradual</option>
                    <option value="all_or_nothing">all or nothing</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>target temperature</th>
            <th>
                <input type="range" id="target" name="target" min="0" max="100"/>
            </th>
        </tr>
        <tr>
            <th>cooling factor</th>
            <th>
                <input type="range" id="cooling_factor" name="cooling_factor" min="0" max="1" step="0.1"/>
            </th>
        </tr>
        <tr>
            <th>max heating speed</th>
            <th>
                <input type="range" id="max_heating_speed" name="max_heating_speed" min="0" max="1"
                                    step="0.1"/>
            </th>
        </tr>
        <tr>
            <th>sensor delay in frames (60 fps)</th>
            <th>
                <input type="number" id="sensor_delay" name="sensor_delay" min="0" max="100" step="1"/>
            </th>
        </tr>
        <tr>
            <th>K_p</th>
            <th>
                <input type="number" id="K_p" name="K_p" min="0" max="10" step="0.001"/>
            </th>
        </tr>
        <tr>
            <th>K_i</th>
            <th>
                <input type="number" id="K_i" name="K_i" min="0" max="10" step="0.001"/>
            </th>
        </tr>
        <tr>
            <th>K_d</th>
            <th>
                <input type="number" id="K_d" name="K_d" min="0" max="10" step="0.001"/>
            </th>
        </tr>
        <tr>
            <th>tau</th>
            <th>
                <input type="number" id="tau" name="tau" min="0" max="10" step="0.001"/>
            </th>
        </tr>
        <tr>
            <th>pause</th>
            <th>
                <button onclick="toggle_pause()">pause</button>
            </th>
        </tr>
    </table>

</div>

<div>
    <hr>
</div>
</div>