---
layout: layouts/base.njk
title: A* algorithm
js_defer:
  - /libraries/astar.js
  - script.js
---

<div class="outer-container">

    <div class="about">
        <h1>custom astar</h1>
        <p>Pathfinding using Astar implementation based on the pseudo code found on wikipedia.</p>
        <hr>
    </div>

    <div class="inner-container">
        <canvas id="canvas" width="400" height="400"></canvas>
        <table>
            <tr>
                <th>
                    <label for="mode">Mode</label>
                </th>
                <th>
                    <select id="mode">
                        <option value="place_start">place start</option>
                        <option value="place_end">place end</option>
                        <option value="place_block">place block</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="heuristics">Heuristics</label>
                </th>
                <th>
                    <select id="heuristics" onchange="find_path()">
                        <option value="manhattan">Manhattan</option>
                        <option value="chebyshev">Chebyshev</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="neighbors">Neighbors</label>
                </th>
                <th>
                    <select id="neighbors" onchange="find_path()">
                        <option value="4">4 neighbors</option>
                        <option value="8A">8 neighbors A</option>
                        <option value="8B">8 neighbors B</option>
                        <option value="8C">8 neighbors C</option>
                    </select>
                </th>
            </tr>
        </table>
    </div>
    <div>
        <hr>
    </div>

</div>