---
layout: layouts/base.njk
title: Find nearest in grid
css:
  - /css/style.css
  - /css/cs.css
  - ./style.css
local_css:
js_defer:
  - script.js
---

<div class="outer-container">
  <div>
    <h1>Find nearest in grid</h1>
    <p>
      A search algorithm used to scan the surrounding cells, going from closest to furthest.
      <br>
      This algorithm is needed for a game i want to create.
    </p>
    <hr>
  </div>
  <div class="inner-container">
    <canvas id="canvas" width="600" height="600"></canvas>
  </div>
  <div>
    <hr>
  </div>
</div>