---
layout: layouts/base.njk
title: C++ Game prototype
---

<div class="outer-container">
    <div>
        <h1>C++ game</h1>
        <p>Game made in C++ using CMake and SDL2.</p>
        <hr>
    </div>
    <div class="inner-container">
        <video controls="controls"><source src="assets/cpp_game.webm" type="video/webm">Your browser does not support the video tag.</video>
    </div>
    <div>
        <hr>
    </div>
</div>