---
layout: layouts/base.njk
title: 3D JS engine
js_defer:
  - math.js
  - camera.js
  - object3d.js
  - script.js
---

<div class="outer-container">
    <div>
        <h1>3d engine</h1>
        <p>
            3D engine written from the ground up in javascript, no external libraries were used.
            <br>
            inspired from <a href="https://www.youtube.com/watch?v=M_Hx0g5vFko">this video</a> presenting a 3D engine written in python.
            <br>
            <a href="assets/3d_engine.pdf">PDF</a> explaining the math behind the 3d engine.
        </p>

        <hr>
    </div>
    <div class="inner-container">
        <canvas id="canvas"  tabindex="0" width="900" height="600"></canvas>

        <div class="tables">
            <table>
                <tr>
                    <th>z, q, s, d</th>
                    <th>move</th>
                </tr>
                <tr>
                    <th>i, j, k, l</th>
                    <th>pitch / yaw</th>
                </tr>
                <tr>
                    <th>a, e</th>
                    <th>roll</th>
                </tr>
                <tr>
                    <th>w, x</th>
                    <th>move up / down</th>
                </tr>
            </table>
        </div>

    </div>

    <div>
        <hr>
    </div>

</div>